The code below is the start of my capstone project

The data I am using is from the CNBC Website https://www.cnbc.com/2025/02/14/cnbcs-official-nba-team-valuations-2025.html and https://www.cnbc.com/2024/09/05/official-nfl-team-valuations-2024.html

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kcoll\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kcoll\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kcoll\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kcoll\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kcoll\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\kcoll\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

The code below moved my csv files in to actual dataframes for my code to read

In [2]:
import pandas as pd

df = pd.read_csv('CNBC NBA Franchise Valuation.csv')
print(df.head())

df1 = pd.read_csv('CNBC NFL Franchise Values.csv')
print(df1.head())

   Rank                   Team  Value Revenue EBITDA Debt as % of Value  \
0     1  Golden State Warriors  $9.4B   $781M  $155M                 9%
1     2        New York Knicks  $7.5B   $578M  $178M                 4%
2     3     Los Angeles Lakers    $7B   $528M  $191M                 3%
3     4          Chicago Bulls  $5.8B   $402M  $118M                 3%
4     5        Houston Rockets  $5.7B   $402M  $119M                 4%

                                            Owner(s)
0                             Joe Lacob, Peter Guber
1                       Madison Square Garden Sports
2  Jerry Buss family trust, Mark Walter, Todd Boehly
3                                    Jerry Reinsdorf
4                                    Tilman Fertitta
   Rank                  Team   Value Revenue EBITDA Debt as % of value  \
0     1        Dallas Cowboys    $11B  $1.22B  $550M                 3%
1     2      Los Angeles Rams     $8B   $825M  $243M                44%
2     3  New England Patriots   $7.9B   $740M  $250M                 3%
3     4       New York Giants  $7.85B   $723M  $185M                 6%
4     5     Las Vegas Raiders   $7.8B   $780M  $115M                18%

                 Owner(s)
0             Jerry Jones
1         Stanley Kroenke
2            Robert Kraft
3  John Mara, Steve Tisch
4              Mark Davis

The code below removed columns that I was not wanting to report on or didn't add any value to my project

In [3]:
df.drop(columns=['EBITDA', 'Debt as % of Value', 'Owner(s)', 'Rank'], inplace=True)

print(df)

df1.drop(columns=['EBITDA', 'Debt as % of value', 'Owner(s)', 'Rank'], inplace=True)

print(df1)

                      Team   Value Revenue
0    Golden State Warriors   $9.4B   $781M
1          New York Knicks   $7.5B   $578M
2       Los Angeles Lakers     $7B   $528M
3            Chicago Bulls   $5.8B   $402M
4          Houston Rockets   $5.7B   $402M
5            Brooklyn Nets   $5.6B   $389M
6           Boston Celtics   $5.5B   $452M
7     Los Angeles Clippers   $5.4B   $351M
8               Miami Heat   $5.1B   $394M
9         Dallas Mavericks     $5B   $430M
10      Philadelphia 76ers   $4.9B   $394M
11            Phoenix Suns   $4.6B   $377M
12         Toronto Raptors   $4.5B   $349M
13        Sacramento Kings  $4.45B   $425M
14     Cleveland Cavaliers  $4.35B   $406M
15           Atlanta Hawks   $4.3B   $384M
16      Washington Wizards  $4.25B   $357M
17          Denver Nuggets   $4.2B   $386M
18         Milwaukee Bucks   $4.1B   $350M
19               Utah Jazz  $3.75B   $367M
20       San Antonio Spurs   $3.7B   $344M
21  Portland Trail Blazers  $3.65B   $339M
22           Orlando Magic  $3.55B   $317M
23   Oklahoma City Thunder   $3.5B   $321M
24         Detroit Pistons  $3.45B   $306M
25          Indiana Pacers   $3.4B   $339M
26       Charlotte Hornets  $3.35B   $304M
27    New Orleans Pelicans   $3.3B   $311M
28  Minnesota Timberwolves  $3.25B   $328M
29       Memphis Grizzlies   $3.2B   $299M
                     Team   Value Revenue
0          Dallas Cowboys    $11B  $1.22B
1        Los Angeles Rams     $8B   $825M
2    New England Patriots   $7.9B   $740M
3         New York Giants  $7.85B   $723M
4       Las Vegas Raiders   $7.8B   $780M
5     San Francisco 49ers   $7.4B   $687M
6           New York Jets  $7.35B   $677M
7          Miami Dolphins   $7.1B   $673M
8     Philadelphia Eagles     $7B   $669M
9           Chicago Bears   $6.4B   $590M
10         Houston Texans  $6.35B   $640M
11      Green Bay Packers   $6.3B   $638M
12  Washington Commanders  $6.25B   $602M
13         Denver Broncos   $6.2B   $613M
14       Seattle Seahawks  $6.11B   $600M
15        Atlanta Falcons   $6.1B   $625M
16    Pittsburgh Steelers  $6.08B   $596M
17     Kansas City Chiefs  $6.07B   $590M
18      Minnesota Vikings  $6.06B   $587M
19   Tampa Bay Buccaneers  $6.05B   $640M
20       Baltimore Ravens  $6.03B   $584M
21       Cleveland Browns  $6.02B   $581M
22       Tennessee Titans  $6.01B   $559M
23   Jacksonville Jaguars     $6B   $567M
24      Carolina Panthers   $5.9B   $571M
25   Los Angeles Chargers  $5.83B   $564M
26     Indianapolis Colts   $5.8B   $564M
27     New Orleans Saints   $5.5B   $569M
28          Detroit Lions   $5.4B   $546M
29          Buffalo Bills  $5.35B   $551M
30      Arizona Cardinals   $5.3B   $543M
31     Cincinnati Bengals  $5.25B   $546M

The code below allowed me to display my combined dataframe in to more coherent manner for reading

In [4]:
Franchisevalues = pd.concat([df, df1],  ignore_index=True)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
print(Franchisevalues)

                      Team   Value Revenue
0    Golden State Warriors   $9.4B   $781M
1          New York Knicks   $7.5B   $578M
2       Los Angeles Lakers     $7B   $528M
3            Chicago Bulls   $5.8B   $402M
4          Houston Rockets   $5.7B   $402M
5            Brooklyn Nets   $5.6B   $389M
6           Boston Celtics   $5.5B   $452M
7     Los Angeles Clippers   $5.4B   $351M
8               Miami Heat   $5.1B   $394M
9         Dallas Mavericks     $5B   $430M
10      Philadelphia 76ers   $4.9B   $394M
11            Phoenix Suns   $4.6B   $377M
12         Toronto Raptors   $4.5B   $349M
13        Sacramento Kings  $4.45B   $425M
14     Cleveland Cavaliers  $4.35B   $406M
15           Atlanta Hawks   $4.3B   $384M
16      Washington Wizards  $4.25B   $357M
17          Denver Nuggets   $4.2B   $386M
18         Milwaukee Bucks   $4.1B   $350M
19               Utah Jazz  $3.75B   $367M
20       San Antonio Spurs   $3.7B   $344M
21  Portland Trail Blazers  $3.65B   $339M
22           Orlando Magic  $3.55B   $317M
23   Oklahoma City Thunder   $3.5B   $321M
24         Detroit Pistons  $3.45B   $306M
25          Indiana Pacers   $3.4B   $339M
26       Charlotte Hornets  $3.35B   $304M
27    New Orleans Pelicans   $3.3B   $311M
28  Minnesota Timberwolves  $3.25B   $328M
29       Memphis Grizzlies   $3.2B   $299M
30          Dallas Cowboys    $11B  $1.22B
31        Los Angeles Rams     $8B   $825M
32    New England Patriots   $7.9B   $740M
33         New York Giants  $7.85B   $723M
34       Las Vegas Raiders   $7.8B   $780M
35     San Francisco 49ers   $7.4B   $687M
36           New York Jets  $7.35B   $677M
37          Miami Dolphins   $7.1B   $673M
38     Philadelphia Eagles     $7B   $669M
39           Chicago Bears   $6.4B   $590M
40          Houston Texans  $6.35B   $640M
41       Green Bay Packers   $6.3B   $638M
42   Washington Commanders  $6.25B   $602M
43          Denver Broncos   $6.2B   $613M
44        Seattle Seahawks  $6.11B   $600M
45         Atlanta Falcons   $6.1B   $625M
46     Pittsburgh Steelers  $6.08B   $596M
47      Kansas City Chiefs  $6.07B   $590M
48       Minnesota Vikings  $6.06B   $587M
49    Tampa Bay Buccaneers  $6.05B   $640M
50        Baltimore Ravens  $6.03B   $584M
51        Cleveland Browns  $6.02B   $581M
52        Tennessee Titans  $6.01B   $559M
53    Jacksonville Jaguars     $6B   $567M
54       Carolina Panthers   $5.9B   $571M
55    Los Angeles Chargers  $5.83B   $564M
56      Indianapolis Colts   $5.8B   $564M
57      New Orleans Saints   $5.5B   $569M
58           Detroit Lions   $5.4B   $546M
59           Buffalo Bills  $5.35B   $551M
60       Arizona Cardinals   $5.3B   $543M
61      Cincinnati Bengals  $5.25B   $546M

The below code is used to convert the values in the "Value" column to numerical values.  I then proceeded to perform a couple of calculations to give the user an idea of what they are looking at from an overall perspective

In [5]:
def convert_to_numeric(value):
    value = value.replace('$', '').replace('B', '')
    return float(value) * 1e9
df['Value'] = df['Value'].apply(convert_to_numeric)
median_value = df['Value'].median()

print(f"The Median Value for these franchises is: {median_value}")

mean_value = df['Value'].mean()

print(f"The Mean Value for these franchises is: {mean_value}")

Variance_value = df['Value'].var()

print(f"The Standard Derivation for these franchises is: {Variance_value}")

The Median Value for these franchises is: 4325000000.0
The Mean Value for these franchises is: 4658333333.333333
The Standard Derivation for these franchises is: 1.9989798850574717e+18